<div class="view">
    <input type="checkbox" class="toggle action" checked={{todo.completed}} onchange={{action 'toggleCompleted'}}>
    <label ondblclick={{action 'startEditing'}}>{{todo.title}}</label>
    <div class="action-items">
      {{ember-flatpickr
      class='due-date-input action-item action-pointer'
      onChange=(action 'onDateSelected')
      flatpickrRef=dueDateFlatpickr
      placeholder='Choose date...'
      value=(mut todo.dueDate)
      allowInput=true
      static=true}}
        <button {{action 'showDueDateInput'}} class="calendar action action-item">{{fa-icon "calendar"}}</button>
        <button onclick={{action 'removeTodo'}} class="destroy action action-item"></button>
    </div>
</div>
<input type="text" class="edit" value={{todo.title}} onblur={{action 'doneEditing' value='target.value'}}
       onkeydown={{action 'handleKeydown'}} autofocus>