#todo-list .action {
  cursor: pointer;
}

#todo-list li .action-items {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin-bottom: 11px;
}

#todo-list li .action-item {
  margin-bottom: 0;
  height: 40px;
}

/* CALENDAR BUTTON */

#todo-list li .action-item.calendar {
  display: none;
  position: absolute;
  right: 50px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 16px;
  color: #cc9a9a;
}

#todo-list li.show-calendar:hover .action-item.calendar {
  display: block;
}

#todo-list li .action-item.calendar:hover {
  color: #af5b5e;
}

/* DUE DATE */

#todo-list li .action-item.due-date-input {
  display: none;
  position: absolute;
  right: 50px;
  width: 90px;
  height: 16px;
  text-align: center;
}

#todo-list li.show-due-date .action-item.due-date-input {
  display: block;
}


/* CALENDAR */

#todo-list li .action-items .flatpickr-calendar {
  right: 40px;
  top: 30px;
}

/* LABEL */

#todo-list li.is-due label {
  color: red;
}
